#film-view-container {
  article {
    position: absolute;
    top: 43px;
    right: 0px;
    height: 600px;
    width: 240px;
    background-color: #efefef;
    box-shadow: -2px 0px 4px #e0e0e0;
    border: 1px solid #ccc;
  }

  header {
    font-size: 0.9em;
  }

  h2, h3 {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100px;
  }

  section {
    font-size: 0.9em;
  }
}