body {
  font-family: Helvetica;
  color: #333;
}

#right-pane {
  width: 162px;
  height: 600px;
  overflow: hidden;
  float: right;
}

#wrapper {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}