header {
  border-top: 4px solid #333; }
  header h1 {
    float: left;
    font-size: 1.6em;
    margin-top: 4px;
    margin-bottom: 4px; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
