body {
  font-family: Helvetica;
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAG0lEQVQIHWP4//8/w7t374DUfwZGEIMBBpBlANumF1EAvFlVAAAAAElFTkSuQmCC) repeat; }

#right-pane {
  width: 160px;
  height: 600px;
  overflow-y: hidden;
  float: right;
  background-color: #f8f9f9;
  border: 1px solid #ccc; }

#wrapper {
  position: relative;
  width: 1024px;
  margin-left: auto;
  margin-right: auto; }
